<!DOCTYPE html>
<html lang="en">
<head>
    <title>real estate - finder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

    @*<link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" media="screen">*@
    <link href="~/css/bootstrap.css" rel="stylesheet" />

    @*<link rel="stylesheet" href="~/css/bootstrap-responsive.css" type="text/css" media="screen">*@
    <link href="~/css/bootstrap-responsive.css" rel="stylesheet" />

    @*<link rel="stylesheet" href="~/css/camera.css" type="text/css" media="screen">*@
    <link href="~/css/camera.css" rel="stylesheet" />

    @*<link rel="stylesheet" href="~/css/style.css" type="text/css" media="screen">*@
    <link href="~/css/style.css" rel="stylesheet" />

    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/js/superfish.js"></script>

    @*<script type="text/javascript" src="~/js/jquery.ui.totop.js"></script>*@
    <script src="~/js/jquery.ui.totop.js"></script>

    @*<script type="text/javascript" src="~/js/camera.js"></script>*@
    <script src="~/js/camera.js"></script>

    @*<script type="text/javascript" src="~/js/jquery.mobile.customized.min.js"></script>*@
    <script src="~/js/jquery.mobile.customized.min.js"></script>

    @*<script type="text/javascript" src="~/js/jquery.caroufredsel.js"></script>*@
    <script src="~/js/jquery.caroufredsel.js"></script>

    @*<script type="text/javascript" src="~/js/jquery.touchSwipe.min.js"></script>*@
    <script src="~/js/jquery.touchSwipe.min.js"></script>

    @*<script type="text/javascript" src="~/js/script.js"></script>*@
    <script src="~/js/script.js"></script>
    <script>
        $(document).ready(function () {
            //
            $('#camera_wrap').camera({
                //thumbnails: true
                //alignment			: 'centerRight',
                autoAdvance: true,
                mobileAutoAdvance: true,
                //fx					: 'simpleFade',
                height: '48%',
                hover: false,
                loader: 'none',
                navigation: false,
                navigationHover: false,
                mobileNavHover: false,
                playPause: false,
                pauseOnClick: false,
                pagination: true,
                time: 7000,
                transPeriod: 1000,
                minHeight: '300px'
            });

            //	carouFredSel
            $('#slider3 .carousel.main ul').carouFredSel({
                auto: {
                    timeoutDuration: 8000
                },
                responsive: true,
                prev: '.prev3',
                next: '.next3',
                width: '100%',
                scroll: {
                    items: 1,
                    duration: 1000,
                    easing: "easeOutExpo"
                },
                items: {
                    width: '330',
                    height: 'variable',	//	optionally resize item-height
                    visible: {
                        min: 1,
                        max: 4
                    }
                },
                mousewheel: false,
                swipe: {
                    onMouse: true,
                    onTouch: true
                }
            });




            $(window).bind("resize", updateSizes_vat).bind("load", updateSizes_vat);
            function updateSizes_vat() {
                $('#slider3 .carousel.main ul').trigger("updateSizes");
            }
            updateSizes_vat();



        }); //
        $(window).load(function () {
            //

        }); //
    </script>
    <!--[if lt IE 8]>
            <div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"alt=""/></a></div>
        <![endif]-->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
    <![endif]-->
</head>

<body class="front">
    <div id="main">

        <div class="top1_wrapper">
            <div class="top1 clearfix">

                <header><div class="logo_wrapper"><a href="/Home/Index" class="logo"><img src="~/images/logo.png" alt=""></a></div></header>

                <div class="menu_wrapper clearfix">
                    <div class="navbar navbar_">
                        <div class="navbar-inner navbar-inner_">
                            <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <div class="nav-collapse nav-collapse_ collapse">
                                <ul class="nav sf-menu clearfix">
                                    <li class="active"><a href="index.html">home</a></li>
                                    <li class="sub-menu sub-menu-1">
                                        <a href="index-1.html">about</a>
                                        <ul>
                                            <li><a href="index-1.html">who we are</a></li>
                                            <li class="sub-menu sub-menu-2">
                                                <a href="index-1.html">find an agent<em></em></a>
                                                <ul>
                                                    <li><a href="index-1.html">Lorem ipsum dolor</a></li>
                                                    <li><a href="index-1.html">Sit amet</a></li>
                                                    <li><a href="index-1.html">Adipiscing elit</a></li>
                                                    <li><a href="index-1.html">Nunc suscipit</a></li>
                                                    <li><a href="404.html">404 page not found</a></li>
                                                </ul>
                                            </li>
                                            <li class="sub-menu sub-menu-2">
                                                <a href="index-1.html">history<em></em></a>
                                                <ul>
                                                    <li><a href="index-1.html">Lorem ipsum dolor</a></li>
                                                    <li><a href="index-1.html">Sit amet</a></li>
                                                    <li><a href="index-1.html">Adipiscing elit</a></li>
                                                    <li><a href="index-1.html">Nunc suscipit</a></li>
                                                    <li><a href="404.html">404 page not found</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="index-1.html">testimonials</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="index-2.html">services</a></li>
                                    <li><a href="index-3.html">SAles</a></li>
                                    <li><a href="index-4.html">resources</a></li>
                                    <li><a href="index-5.html">gallery</a></li>
                                    <li><a href="index-6.html">contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="search">

                        <a href="#" class="searchBtn"></a>

                        <div class="search-form-wrapper">
                            <form id="search-form" action="search.php" method="GET" accept-charset="utf-8" class="navbar-form">
                                <input type="text" name="s" value='Search' onBlur="if(this.value=='') this.value='Search'" onFocus="if(this.value =='Search' ) this.value=''">
                                <a href="#" onClick="document.getElementById('search-form').submit()"></a>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div id="inner">

            <div class="find_wrapper">

                

                <div id="slider_wrapper">
                    <div id="slider" class="clearfix">
                        <div id="camera_wrap">
                            <div data-src="~/images/slide01.jpg"></div>
                            <div data-src="~/images/slide02.jpg"></div>
                            <div data-src="~/images/slide03.jpg"></div>
                            <div data-src="~/images/slide04.jpg"></div>
                            <div data-src="~/images/slide05.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="banners">
                <div class="container">
                    <div class="row">
                        <div class="span4 banner banner1">
                            <div class="banner_inner">
                                <a href="#">
                                    <div class="caption">
                                        <div class="txt1">ADVANTAGES</div>
                                        <div class="txt2">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ...</div>
                                        <div class="txt3">more</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="span4 banner banner2">
                            <div class="banner_inner">
                                <a href="#">
                                    <div class="caption">
                                        <div class="txt1">MISSION</div>
                                        <div class="txt2">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ...</div>
                                        <div class="txt3">more</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="span4 banner banner3">
                            <div class="banner_inner">
                                <a href="#">
                                    <div class="caption">
                                        <div class="txt1">vision</div>
                                        <div class="txt2">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ...</div>
                                        <div class="txt3">more</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="slider3_wrapper">
                <div class="container">

                    <div class="slider3_title"><span>LATEST OFFERS</span></div>

                    <div id="slider3">
                        <a class="prev3" href="#"></a>
                        <a class="next3" href="#"></a>
                        <div class="carousel-box row">
                            <div class="inner span12">
                                <div class="carousel main">
                                    <ul>
                                        <li>
                                            <div class="offer">
                                                <div class="offer_inner">
                                                    <a href="#">
                                                        <figure><img src="~/images/carousel01.jpg" alt="" class="img"></figure>
                                                        <div class="caption">
                                                            <div class="txt1">LOREM IPSUM DOL AMET</div>
                                                            <div class="txt2">Lorem ipsum dolor sit amet, conse etur et adipiscing elit. Duis vel nisifes. Vestibulum ullamcorper dolore ipsum.</div>
                                                            <div class="txt3">$570.000</div>
                                                            <div class="txt4">Read More</div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="offer">
                                                <div class="offer_inner">
                                                    <a href="#">
                                                        <figure><img src="~/images/carousel02.jpg" alt="" class="img"></figure>
                                                        <div class="caption">
                                                            <div class="txt1">LOREM IPSUM DOL AMET</div>
                                                            <div class="txt2">Lorem ipsum dolor sit amet, conse etur et adipiscing elit. Duis vel nisifes. Vestibulum ullamcorper dolore ipsum.</div>
                                                            <div class="txt3">$240.000</div>
                                                            <div class="txt4">Read More</div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="offer">
                                                <div class="offer_inner">
                                                    <a href="#">
                                                        <figure><img src="~/images/carousel03.jpg" alt="" class="img"></figure>
                                                        <div class="caption">
                                                            <div class="txt1">LOREM IPSUM DOL AMET</div>
                                                            <div class="txt2">Lorem ipsum dolor sit amet, conse etur et adipiscing elit. Duis vel nisifes. Vestibulum ullamcorper dolore ipsum.</div>
                                                            <div class="txt3">$480.000</div>
                                                            <div class="txt4">Read More</div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="offer">
                                                <div class="offer_inner">
                                                    <a href="#">
                                                        <figure><img src="~/images/carousel04.jpg" alt="" class="img"></figure>
                                                        <div class="caption">
                                                            <div class="txt1">LOREM IPSUM DOL AMET</div>
                                                            <div class="txt2">Lorem ipsum dolor sit amet, conse etur et adipiscing elit. Duis vel nisifes. Vestibulum ullamcorper dolore ipsum.</div>
                                                            <div class="txt3">$120.000</div>
                                                            <div class="txt4">Read More</div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="offer">
                                                <div class="offer_inner">
                                                    <a href="#">
                                                        <figure><img src="~/images/carousel05.jpg" alt="" class="img"></figure>
                                                        <div class="caption">
                                                            <div class="txt1">LOREM IPSUM DOL AMET</div>
                                                            <div class="txt2">Lorem ipsum dolor sit amet, conse etur et adipiscing elit. Duis vel nisifes. Vestibulum ullamcorper dolore ipsum.</div>
                                                            <div class="txt3">$730.000</div>
                                                            <div class="txt4">Read More</div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="offer">
                                                <div class="offer_inner">
                                                    <a href="#">
                                                        <figure><img src="~/images/carousel06.jpg" alt="" class="img"></figure>
                                                        <div class="caption">
                                                            <div class="txt1">LOREM IPSUM DOL AMET</div>
                                                            <div class="txt2">Lorem ipsum dolor sit amet, conse etur et adipiscing elit. Duis vel nisifes. Vestibulum ullamcorper dolore ipsum.</div>
                                                            <div class="txt3">$470.000</div>
                                                            <div class="txt4">Read More</div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="content">
                <div class="container">
                    <div class="row">
                        <div class="span9">

                            <h2><span>How it works</span></h2>

                            <div class="row">
                                <div class="span3">

                                    <div class="work1 clearfix">
                                        <div class="txt1">a</div>
                                        <div class="txt2">Lorem ipsum<br>dolor sit</div>
                                    </div>

                                    <p>
                                        Nulla ultricies enim aliquet augue eleifend iaculis. Nam sollicitudin ligula ac nisi iaculis eu scelerisque risus ultricies. Nullam eu elit risus, vel interdum urna. Aenean leo nulla, aliquet vitae ultricies sit amet, porttitor id sapien. In hac habitasse platea dictumst. Donec pharetra gravida augue at hendrerit. Cras ut...
                                    </p>

                                    <a href="#" class="button1">Read more</a>



                                </div>
                                <div class="span3">

                                    <div class="work1 clearfix">
                                        <div class="txt1">b</div>
                                        <div class="txt2">Vestibulum ante<br>ipsum primis</div>
                                    </div>

                                    <p>
                                        Nulla ultricies enim aliquet augue eleifend iaculis. Nam sollicitudin ligula ac nisi iaculis eu scelerisque risus ultricies. Nullam eu elit risus, vel interdum urna. Aenean leo nulla, aliquet vitae ultricies sit amet, porttitor id sapien. In hac habitasse platea dictumst. Donec pharetra gravida augue at hendrerit. Cras ut...
                                    </p>

                                    <a href="#" class="button1">Read more</a>



                                </div>
                                <div class="span3">

                                    <div class="work1 clearfix">
                                        <div class="txt1">c</div>
                                        <div class="txt2">Cras dictum<br>odio</div>
                                    </div>

                                    <p>
                                        Nulla ultricies enim aliquet augue eleifend iaculis. Nam sollicitudin ligula ac nisi iaculis eu scelerisque risus ultricies. Nullam eu elit risus, vel interdum urna. Aenean leo nulla, aliquet vitae ultricies sit amet, porttitor id sapien. In hac habitasse platea dictumst. Donec pharetra gravida augue at hendrerit. Cras ut...
                                    </p>

                                    <a href="#" class="button1">Read more</a>



                                </div>
                            </div>

                        </div>
                        <div class="span3">

                            <h2><span>Our Professional Management</span></h2>

                            <ul class="ul1">
                                <li><a href="#">Adipisicing</a></li>
                                <li><a href="#">Dolore magna aliqua</a></li>
                                <li><a href="#">Eiusmod tempor</a></li>
                                <li><a href="#">Elit sed do</a></li>
                                <li><a href="#">Incididunt ut labore et</a></li>
                                <li><a href="#">Lorem ipsum dolor</a></li>
                                <li><a href="#">Sit amet conse ctetur</a></li>
                                <li><a href="#">Ut enim ad minim</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

            <div class="bot1_wrapper">
                <div class="container">
                    <div class="bot1 clearfix">
                        <div class="row">
                            <div class="span3">

                                <div class="bot1_title">Copyright</div>

                                <div class="logo2_wrapper"><a href="index.html" class="logo2"><img src="~/images/logo2.png" alt=""></a></div>

                                <footer><div class="copyright">Copyright © 2017 <br>All rights reserved. Created by <a href="https://gridgum.com">Gridgum</a></div></footer>

                            </div>
                            <div class="span5">

                                <div class="bot1_title">Useful information</div>

                                <p>
                                    <b>
                                        Nulla ultricies enim aliquet augue eleifend iaculis.
                                    </b>
                                </p>

                                <p>
                                    Nam sollicitudin ligula ac nisi iaculis eu scelerisque risus ultricies. Nullam eu elit risus, vel interdum urna. Aenean leo nulla, aliquet vitae ultricies sit amet, porttitor id sapien. In hac habitasse platea dictumst. Donec pharetra gravida augue at hendrerit. Cras ut...
                                </p>

                            </div>
                            <div class="span3 offset1">

                                <div class="bot1_title">Follow Us</div>

                                <div class="social_wrapper">
                                    <ul class="social clearfix">
                                        <li><a href="#"><img src="~/images/social_ic1.png"></a></li>
                                        <li><a href="#"><img src="~/images/social_ic2.png"></a></li>
                                        <li><a href="#"><img src="~/images/social_ic3.png"></a></li>
                                        <li><a href="#"><img src="~/images/social_ic4.png"></a></li>
                                        <li><a href="#"><img src="~/images/social_ic5.png"></a></li>
                                        <li><a href="#"><img src="~/images/social_ic6.png"></a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*<script type="text/javascript" src="~/js/bootstrap.js"></script>*@
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/cform.js"></script>
</body>
</html>